node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store
node_modules

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
release/

# BUCK
buck-out/
\.buckd/
 
 
# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/

yarn.lock